@import 'utilities';

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

.result {
  animation: expand .5s ease-in-out;
  &__title {
    color: $primaryColor;
    font-size: $largeSize;
  }
}

.hl {
  background: darkorange;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.genre-label {
  user-select: none;
  cursor: pointer;
  font-size: $littleSize;
  &:hover {
    color: $primaryColor;
  }
}

.genre-item {
  padding-right: 30px;
}

.genre-input:checked + .genre-label {
  color: $primaryColor;
}


main {
  margin-top: 40vh;
  background-color: $backgroundColor;
}
