@import 'utilities';

.result {
  &__title {
    color: $primaryColor;
    font-size: $largeSize;
  }
}

.hl {
  background: darkorange;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.genre-label {
  user-select: none;
  font-size: $littleSize;
  &:hover {
    color: $primaryColor;
  }
}

.genre-item {
  padding-right: 30px;
}

.genre-input:checked + .genre-label {
  color: $primaryColor;
}
