@import 'utilities';

.footer{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    justify-content: space-between;
    &__right {
        background-image: url("../images/fh_logo.png");
        background-size: cover;
        width: 200px;
        height: 200px;
    }
}
