<%= require('html-loader!./partials/_header.html') %>
<section class="header__hero header__hero--about">
    <div class="header__hero__container">
    </div>
</section>
</header>
<main>
    <section class="max-width-container">
        <h2>Über mich</h2>
        <div class="about">
            <div class="about__text">Meine Designideen kennen keine Grenzen, genauso wie mein Text "Über mich", da ich gerne lange, komplizierte, aber anmutige Sätze schreiben - genauso wie mein Design, denn ich wurde vom Vorstand der Müller GmbH, Tom Herzog und Tine Ubuntu gelobt und als sehr, wenn auch nicht äußerst, anmutig bezeichnet.</div>
            <div class="about__image"></div>
        </div>
    </section>
</main>
<script>
    // add css-class to current link
    document.getElementsByClassName("header__link")[3].classList.add("header__link--current");
</script>
<%= require('html-loader!./partials/_footer.html') %>