<%= require('html-loader!./partials/_header.html') %>
<main>
    <section class="max-width-container section">
        <h2 class="mb-5 mt-2">Suche nach deinen ?</h2>
        <form class="d-flex justify-content-around mb-5 form">
            <div class="input-group input-group-lg mr-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Suche ...</span>
                </div>
                <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Placeholder">
            </div>
            <button type="submit" class="btn btn-warning submit">Submit</button>
        </form>
    </section>
<%= require('html-loader!./partials/_footer.html') %>
